
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owners manager - PetDB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">PetDB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/owners">Owners</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pets">Pets</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1>Owners manager</h1>
<div class="row">
    <div class="col">
        <form class="form form-inline">
            <div class="row">
                
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" id="search" name="search" class="form-control">
                        <label for="search" class="form-label">Search</label>
                    </div>
                </div>
                <div class="col"><button type="submit" class="btn btn-outline-primary">Search</button></div>
            </div>
        </form>
    </div>
    <div class="col text-end">
        <a href="/owners/edit/0" class="btn btn-success">Create Owner</a>
    </div>
</div>

<table class="table table-striped">
<thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">City</th>
    <th scope="col">Country</th>
    </tr>
</thead>
<tbody>

    
    <tr>
        <th scope="row">1</th>
        <td>Jan</td>
        <td>Jansen</td>
        <td>Amsterdam</td>
        <td>NL</td>
        <td>
            <a href="/owners/edit/1" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/1" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">2</th>
        <td>An</td>
        <td>Peeters</td>
        <td>Gent</td>
        <td>FR</td>
        <td>
            <a href="/owners/edit/2" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/2" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">3</th>
        <td>Pieter</td>
        <td>Post</td>
        <td>Utrecht</td>
        <td>NL</td>
        <td>
            <a href="/owners/edit/3" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/3" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">4</th>
        <td>Laura</td>
        <td>Willems</td>
        <td>Mechelen</td>
        <td>BE</td>
        <td>
            <a href="/owners/edit/4" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/4" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">5</th>
        <td>Mark</td>
        <td>de Vries</td>
        <td>Groningen</td>
        <td>NL</td>
        <td>
            <a href="/owners/edit/5" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/5" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">6</th>
        <td>Emma</td>
        <td>Bakker</td>
        <td>Haarlem</td>
        <td>NL</td>
        <td>
            <a href="/owners/edit/6" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/6" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">7</th>
        <td>Luc</td>
        <td>Maes</td>
        <td>Leuven</td>
        <td>BE</td>
        <td>
            <a href="/owners/edit/7" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/7" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">8</th>
        <td>Sophie</td>
        <td>Smit</td>
        <td>Rotterdam</td>
        <td>NL</td>
        <td>
            <a href="/owners/edit/8" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/8" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">9</th>
        <td>Bram</td>
        <td>Vermeulen</td>
        <td>Brugge</td>
        <td>BE</td>
        <td>
            <a href="/owners/edit/9" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/9" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">10</th>
        <td>Lisa</td>
        <td>Dijkstra</td>
        <td>Leeuwarden</td>
        <td>NL</td>
        <td>
            <a href="/owners/edit/10" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/10" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">11</th>
        <td>Kevin</td>
        <td>Mertens</td>
        <td>Hasselt</td>
        <td>BE</td>
        <td>
            <a href="/owners/edit/11" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/11" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">12</th>
        <td>Sarah</td>
        <td>Bergman</td>
        <td>Arnhem</td>
        <td>NL</td>
        <td>
            <a href="/owners/edit/12" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/12" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">13</th>
        <td>Thomas</td>
        <td>Claes</td>
        <td>Ghent</td>
        <td>BE</td>
        <td>
            <a href="/owners/edit/13" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/13" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">14</th>
        <td>Eva</td>
        <td>Visser</td>
        <td>Enschede</td>
        <td>NL</td>
        <td>
            <a href="/owners/edit/14" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/14" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">15</th>
        <td>Daan</td>
        <td>Hendriks</td>
        <td>Breda</td>
        <td>NL</td>
        <td>
            <a href="/owners/edit/15" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/15" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">16</th>
        <td>Julie</td>
        <td>Jacobs</td>
        <td>Namen</td>
        <td>BE</td>
        <td>
            <a href="/owners/edit/16" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/16" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">17</th>
        <td>Robin</td>
        <td>Hermans</td>
        <td>Maastricht</td>
        <td>NL</td>
        <td>
            <a href="/owners/edit/17" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/17" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">18</th>
        <td>Noa</td>
        <td>Gielen</td>
        <td>Eindhoven</td>
        <td>NL</td>
        <td>
            <a href="/owners/edit/18" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/18" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">19</th>
        <td>Lars</td>
        <td>Wouters</td>
        <td>Kortrijk</td>
        <td>BE</td>
        <td>
            <a href="/owners/edit/19" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/19" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    
    <tr>
        <th scope="row">20</th>
        <td>Tess</td>
        <td>Meijer</td>
        <td>Utrecht</td>
        <td>NL</td>
        <td>
            <a href="/owners/edit/20" class="btn btn-outline-primary">Edit</a>
            <a href="/owners/delete/20" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
        </td>
    </tr>
    

</tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
</nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>